MISTRAL_API_KEY=your_mistral_api_key
ELEVENLABS_API_KEY=your_elevenlabs_api_key
COMPOSIO_API_KEY=your_composio_api_key
WANDB_API_KEY=your_wandb_api_key
WANDB_PROJECT=kotoflow
FT_MODEL_NAME=
KOTOFLOW_API_KEY=
CORS_ORIGINS=http://localhost:3000
ANAM_API_KEY=your_anam_api_key
ANAM_AVATAR_ID=your_avatar_id
